/* .border {
  background-color: white;
}
.grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 5px;
  & > div {
    background-color: white;
    padding: 10px;
  }
}

.grid div {
    background-color: red;
    aspect-ratio: 1;
  } */




html, body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  color: black;
  font-weight: 600;
}

header {
    height: 72px;
    background-color: #fffafa;
    overflow: auto;
    align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center; 
}

.navbar ul {
    font-size: 24px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    align-items: center;
    margin: 0; /* Remove default margin from <ul> */
    padding: 0; /* Remove default padding from <ul> */
    width: 100%; 
}

#logo {
    margin-left: 0; /* Ensure no left margin for the logo */
    padding-left: 0; /* Remove any padding that could add space on the left */
}
.profile-button {
    display: flex;
    align-items: centre;
    gap: 8px;
}

.profile-button a {
    display: flex;
    align-items: centre;
    text-decoration: none;
    color: white;
    background-color: #4c3228;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.profile-button a:hover {
    background-color: #4c3228;
}

#profile-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}


@media (max-width: 768px) {
    .navbar-items {
        display: none;
    }


}

/* Media query for very small screens (max-width: 480px) */
@media (max-width: 480px) {
    .navbar-items {
        display: none;
    }
 
}
@media (max-width: 768px) {
    .navbar ul {
        display: none; 
    }

    .profile-button {
        margin-left: auto; 
    }
}



.grid-container {
  display: grid;
  grid-template-columns: 0fr 0fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0fr 0fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  overflow: hidden;
  gap: 10px;
  background-color: #fffafa;
  padding: 10px;
}

.grid-item {
  background-color: green;
  text-align: left;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 5 / 9;
  grid-row: 2 / span 3;
}

#logo {
    max-height: 72px;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color: red;
  color: white;
  text-align: center;
}

